#include "resource.h"
#include <winres.h>

// A interface compilada (CharSelectPanorama\bin\Release\d3d9.dll) vai dentro do aplicador
IDR_INTERFACE RCDATA "..\\CharSelectPanorama\\bin\\Release\\d3d9.dll"
IDI_APP ICON "icone.ico"
IDR_LOGO RCDATA "..\\CharSelectPanorama\\dist\\charselect\\img\\logo.png"
IDR_FONTE_TITULO RCDATA "..\\CharSelectPanorama\\dist\\charselect\\fonts\\Cinzel.ttf"
IDR_FONTE_TEXTO RCDATA "..\\CharSelectPanorama\\dist\\charselect\\fonts\\Inter.ttf"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEOS 0x40004L
 FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041604b0"
        BEGIN
            VALUE "CompanyName", "O Codex"
            VALUE "FileDescription", "Aplicador da interface O Codex"
            VALUE "FileVersion", "1.0"
            VALUE "ProductName", "Aplicador Codex"
            VALUE "ProductVersion", "1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x416, 1200
    END
END
